<h2 mat-dialog-title style="text-align:center;">
  <app-svg [template]="'success'"></app-svg>
  <!-- <mat-icon aria-hidden="false" aria-label="Success">done_outline</mat-icon> -->
  {{'Operacion realizada correctamente'}}
</h2>
<div *ngIf="data?.content" mat-dialog-content>
  <!-- <p>What's your favorite animal?</p>
  <mat-form-field appearance="fill">
    <mat-label>Favorite Animal</mat-label>
    <input matInput [(ngModel)]="data.animal">
  </mat-form-field> -->
  <!-- <ng-container>
    <ng-template [ngTemplateOutlet]="data.content"></ng-template>
    {{data.content}}
  </ng-container> -->
  <p [innerHtml]="data.content"></p>
</div>
<div mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close] cdkFocusInitial>
    {{'Entendido'}}
  </button>
</div>