<h2 mat-dialog-title style="text-align:center;">
  <app-svg [template]="'question'"></app-svg>
  <!-- <mat-icon aria-hidden="false" aria-label="Success">done_outline</mat-icon> -->
  {{'¿Estas seguro de realizar la accion?'}}
</h2>
<div *ngIf="data?.content" mat-dialog-content>
  <p [innerHtml]="data.content"></p>
</div>
<div mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="false">
    No
  </button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>
    Sí
  </button>
</div>