
<form autocomplete="off"
    [formGroup]="myForm"
    (ngSubmit)="login()"
    >
<div class="flex flex-column">
      <span class="text-lg mb-4">Login</span>

      <mat-form-field>
        <mat-label>Correo electronico</mat-label>
        <input type="text" matInput formControlName="email" placeholder="ejemplo@correo.com">
        <mat-error *ngIf="myError('email', 'required')">El correo es requerido</mat-error>
        <mat-error *ngIf="myError('email', 'email')">Debe ser un correo valido</mat-error>
      </mat-form-field>
    
      <mat-form-field>
        <mat-label>Contraseña</mat-label>
        <input [type]="passwordVisible ? 'text' : 'password'" matInput formControlName="password" placeholder="Contraseña">
        <button mat-icon-button type="button" color="primary" matSuffix aria-label="Hide" (click)="passwordVisible = !passwordVisible">
          <mat-icon>{{passwordVisible ?  'visibility' : 'visibility_off'}}</mat-icon>
        </button>
        <mat-error *ngIf="myError('password', 'required')">La constraseña es requerida</mat-error>
        <mat-error *ngIf="myError('password', 'minlength')">La constraseña tiene que ser por lo menos de 6 digitos</mat-error>
        <mat-error *ngIf="myError('password', 'pattern')">Se necesita por lo menos una letra mayuscula, una miniscula y un número</mat-error>
      </mat-form-field>
    
      <button type="submit" mat-button mat-flat-button color="primary"
        >
        <mat-icon>save</mat-icon>
        Ingresar
      </button>
    
    
      <div class="flex justify-content-end mt-5">
        <a routerLink="/auth/register">¿No tienes cuenta?</a>
      </div>
      
    </div>
  </form>

