@use 'sass:map';
@use '@angular/material' as mat;
@import '../colors';

$eugenia-front-primary: mat.define-palette($custom-brand-primary);
$eugenia-front-accent: mat.define-palette($custom-brand-accent);
$eugenia-front-warn: mat.define-palette($custom-brand-warn);

$eugenia-front-theme: mat.define-light-theme((
  color: (
    primary: $eugenia-front-primary,
    accent: $eugenia-front-accent,
    warn: $eugenia-front-warn,
  )
));

$primary-color-50: #ebeefa;
$primary-color-400: #7488dd;
$primary-color-500: #5c73d7;
$primary-color-900: #3043be;

$warn-color-500: #ff5722;